<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.djv.stockresearcher"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.djv.stockresearcher/css/default.css">
         </property>
         <property
               name="appName"
               value="org.djv.stockresearcher">
         </property>
          <property
           name="lifeCycleURI"
           value="bundleclass://org.djv.stockresearcher/org.djv.stockresearcher.util.LifeCycleManager">
         </property>
      </product>
   </extension>

</plugin>
